body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:10px;
margin:20px;
}

input{
width:100%;
padding:8px;
margin:5px 0;
border:none;
border-radius:5px;
}

button{
padding:8px;
background:#FFD700;
border:none;
font-weight:bold;
cursor:pointer;
}

.sidebar{
width:200px;
background:#111;
height:100vh;
position:fixed;
padding:20px;
}

.main{
margin-left:220px;
padding:20px;
}

table{
width:100%;
background:white;
color:black;
}
